body{
    background: #ffffff;
}
marquee{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(151, 0, 0);
}

fieldset{
    border-radius: 10px;
    background: #4e2d0e;
    width: fit-content;
    /* margin: 50px; */
    padding: 50px;
}
table{
    width: 100px;
    height: 100px;
    box-sizing: 400px;
}
td{
    height: 50px;
}
img{
    align-items: center;
    height: 50px;
    width: 50px;
}
.one{
    background-color: rgb(161, 161, 0);
}
.two{
    background-color: rgb(223, 241, 117);
}
footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(61, 52, 6);
}
button {
    background-color: #da3300;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }